header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 20px;
    padding: 20px 50px;
}

nav{
    display: flex;
    justify-content:flex-end;
    align-items: right;
    gap: 20px;
    margin-right: 100px;
}
nav a{
    text-decoration: none;
    color: #120f10;
    font-size: 16px;
}
nav a:hover{
    color: #e776a3;
    font-size: 18px;
    text-decoration: underline;
}

#home {
    display: flex;
    justify-content: space-between;
}

.name-highlight {
    font-weight: 800;
}

.container{
    display: flex;
    justify-content:right;
    align-items:right;
}

img{
    width: 300px;
    height:200px;
    border: 2px solid #e776a3;
    object-fit: cover;
    align-items: right;
    border-radius: 40px;
    display: flexbox;
    justify-content: right;
    margin-right: 200px;
}
.container-text{
    max-width: 500px;
    margin-left: 80px;
}
.name{
    color: #e776a3;
    font-size: 20px;
}
.port{
    color: #e776a3;
    font-size: 40px;
    margin-left:26px
}
home{
    color: #e776a3;
    font-size: 20px;
}
.buttons{
    display: flex;
    gap: 10px;
}
.contact-btn{
    background-color: #ffff;
    padding: 10px 20px;
    border: 2px solid #e776a3;
    border-radius: 5px;
    text-align: center;
    color: #000000;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
}

.contact-btn:hover{
    background-color: red;
    color: #ffff;
    text-decoration: underline;
}

.contact-btn a{
    color:#e776a3;
    font-size: 16px;
}

.about-highlight{
    font-weight: 800;
    color: #e776a3;
}
.about-container{
    margin-left: 50px;
}